// Alignment
.u-center-text {
  text-align: center !important;
}

// Margins

// Top
.u-margin-top-small {
  margin-top: 1.5rem !important;
}
.u-margin-top-medium {
  margin-top: 4rem !important;
}
.u-margin-top-large {
  margin-top: 8rem !important;
}
.u-margin-top-xl {
  margin-top: 10rem !important;
}

// Bottom
.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}
.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}
.u-margin-bottom-large {
  margin-bottom: 8rem !important;
}
.u-margin-bottom-xl {
  margin-bottom: 10rem !important;
}
