.header {
    height: 95vh;
    background-image: url(../../img/mountain-sunset.jpg);
    background-size: cover;
    opacity: .8;
    background-position: center;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    position: relative;
    
    &__text-box {
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

}